@import url('https://fonts.googleapis.com/css2?family=Helvetica');

body {
  margin: auto;
  padding: auto;
  height: 50vh;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #000000;
  color:white;
  font-size: 16px; 
  
}


#language-selector {
  margin: 10px;
}

h1 {
  text-align: center;
  font-family:Helvetica, sans-serif,Arial;
}

nav {
  background-color: #2f2f2f;
  font-family:Helvetica, sans-serif,Arial;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}

nav ul li {
  flex: 2; /* Ocupar el ancho total del contenedor */
  text-align: center; /* Centrar el texto dentro de li */
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.5s ease, background-color 0.5s ease;
  display: inline; /* Ocupar el ancho completo del li */
  padding: 10px;
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s ease, border-radius 0.3s ease;
}

nav ul li a:hover {
  background-color: #6d006d; /* Nuevo color de fondo al pasar el ratón */
  border-radius: 30px; 

}

nav img {
  height: 50px;
  width: 50px;
  transition: transform 0.4s ease;
  margin-left: 5px;
}

nav img:hover {
  transform: scale(1.5);
}

header {
  text-align: center;
}

nav ul li select {
margin-bottom: 15px;

}

main {
  padding: 30px; /* Añadido un espacio interno al contenido principal */
}

section {
  margin-bottom: 40px; /* Espaciado inferior entre secciones */
}

h3 {
  color: #ffffff; /* Color del título de la sección */
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

.jumbotron {
  background-color: #0e0d0d;
  padding: 40px;
  margin-top: 30px;
}

.card {
  margin-bottom: 20px;
  background-color: #1b1b1b;
  border: 1px solid #343a40;
  border-radius: 10px;
}

.card img {
  width: 400px; /* Tamaño fijo para las imágenes en las cards */
  height: auto; /* Mantener la proporción original */
}

.card-title,
.card-text {
  color: #ffffff;
}
/* Estilos para el footer */
footer {
  font-size: 20px;
}


/* Estilos para los iconos de redes sociales */
.social-icons a {
  display: inline-block;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.social-icons a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  object-fit: cover;
}

.social-icons a[href^="https://www.instagram.com"] img {
  background-color: #d6249f;
}

.social-icons a[href^="https://twitter.com"] img {
  background-color: #1da1f2;
}

.social-icons a[href^="https://www.facebook.com"] img {
  background-color: #3b5998;
}

.social-icons a[href^="https://www.linkedin.com"] img {
  background-color: #0077b5;
}


/* Estilos para el mapa de Google */
iframe {
  border: none;
}

/* Estilos para el mensaje de derechos reservados */
footer p {
  font-size: 30px;
  margin-bottom: 0px;
}



/* Estilos para el footer */
footer {
  margin-top: 200px;
  background-color: #171717; /* Color de fondo */
  color: #b7009b; /* Color de texto */
  padding: 5px; /* Espaciado interno */
  text-align: center; /* Alineación de texto */
}

footer a {
  color: #ff00d4; /* Color de texto de los enlaces */
  text-decoration: none; /* Quitamos el subrayado de los enlaces */
  transition: color 0.5s ease; /* Transición suave al cambiar el color de los enlaces */
}

footer a:hover {
  color: #f1c40f; /* Color de texto de los enlaces cuando se pasa el cursor sobre ellos */
}

/* Estilos para la sección de noticias */
.news-section {
  margin-top: 15px;
}

.news-title {
  font-size: 1em;
  margin-bottom: 5px;
}

.news-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.news-thumbnail {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.news-thumbnail img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.news-content {
  flex-grow: 1;
}

.news-date {
  font-size: 0.4em;
  margin-bottom: 5px;
}

.news-text {
  line-height: 1;
}



